                                                                       /*header*/
       .navbar-fixed-top{
              box-shadow: 0px -9px 30px #343434;
              margin: 0px;
              background-color: white;
              height: 100px
       }
       .navbar-brand{
              margin-top: -10px;
              width:90px;
              height: 102px;
              margin-top:-2px;
              padding: 0px;
       }
       .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
              max-height: 1000px;
       }
       .navbar > .container .navbar-brand,
       .navbar > .container-fluid .navbar-brand {
              margin-left: 40px;
       }
       .navbar-default .navbar-collapse,
       .navbar-default .navbar-form {
              background-color: #D1D1D1;
       }
       .container > .navbar-header,
       .container-fluid > .navbar-header,
       .container > .navbar-collapse,
       .container-fluid > .navbar-collapse {
              margin-right: -15px;
              margin-left: -15px;
              background-color: white;
       }
       .navbar-nav > li > a {
              padding-top: 40px;
              padding-bottom: 40px;
       }
       .navbar-collapse.in {
              overflow-y: visible;
       }
       .navbar-nav .open .dropdown-menu {
              background-color: white;
       }
       .navbar-default .navbar-collapse,
       .navbar-default .navbar-form {
              border-color: #e7e7e7;
              background-color: white;
       }
.dropdown-menu > li > a {
              cursor: pointer;
       }
                                                               /**/
     .table{
              width: 60%;
              color: #25556a;
              max-width:150%;
       }
       .studName{
              display: inline-block;
              /* white-space: nowrap; */
              overflow: hidden;
              /* text-overflow: ellipsis; */
              max-width: 282px;
       }
       .degree{
              display: inline-block;
              white-space: nowrap; 
              overflow: hidden;
              /* text-overflow: ellipsis; */
              max-width: 282px;
       }
       .table > thead > tr > th,
       .table > tbody > tr > th,
       .table > tfoot > tr > th,
       .table > thead > tr > td,
       .table > tbody > tr > td,
       .table > tfoot > tr > td {
              padding: 20px;
       }
       .quesRow{
              background-color: #f9f9f9;
              transition: all 0.3s;
              border-bottom: 3px solid #fff;
       }
       .quesNumb{
              font-size: 12px;
       }
       .ques{
              font-size: 18px;
       }
       textarea.form-control {
              height: auto;
              width: 300px;
       }
       .form-control {
              margin-bottom: 10px;
       }
       .ans{
              font-size: 15px;
       }
       .cor{
              font-weight: bolder;
              border: 1px solid #25556a;
       }
       .glyphicon{
              font-size: 20px;
              color:#25556a;
       }
       .signSubTitle{
              margin-left: 9px;
              font-size: 14px;
       }
       .b {
          border: 1px solid #ddd;
          background-color: white;
          color:#25556a;
          margin-right: 0px;
       }
       .b:hover {
            border: 1px solid #ddd;
            background-color: #ddd;
       }
       .b.active, .btn-group-vertical > .b.active {
            background-color: #25556a;
            border: 1px solid #25556a;
            color:white;
       }
       .tab-pane{
              margin-top: 0px;
       }
       .mcq{
              margin-left: 70px;   
       }
       .t_f{
              margin-top: 214px;
              margin-right: 70px;
       }
       .nav-tabs.nav-justified {
          width:60%;
     }
     .nav-tabs.nav-justified > li > a {
          color:#25556a;
     }
     .nav-tabs.nav-justified > .active > a,
     .nav-tabs.nav-justified > .active > a:hover,
     .nav-tabs.nav-justified > .active > a:focus {
          background-color:#25556a ;
          color:#e7e7e7;
     }
     
     
      .container{
              background-color: rgba(0,0,0,0);
              border:0px;
              margin-top: 180px;
              margin-bottom: 80px;
              width: 80%;
              border-bottom: 2px solid #e7e7e7; 
       }
       .upperTitle{
              cursor: pointer;
              top: 0;
              color: darkgrey;
              -webkit-transition: all 220ms ease-in-out;
              white-space: nowrap;
       }
       .form-control{
              display: inline-block;
              width: 220px;
       }
       
       .title{
              color: #25556a;
              font-size: 18px;     
              
       }
       .info{
              color: #797979;
              font-weight: 100;
       }      
       .top_control >a{
              margin-right: 20px;
       }
       .save{
              margin-bottom: 10px;
       }
     
     
                                                       /*MCQ_T/F*/
     .nav-tabs.nav-justified {
          width:60%;
     }
     .nav-tabs.nav-justified > li > a {
          color:#25556a;
     }
     .nav-tabs.nav-justified > .active > a,
     .nav-tabs.nav-justified > .active > a:hover,
     .nav-tabs.nav-justified > .active > a:focus {
          background-color:#25556a ;
          color:#e7e7e7;
     }
     
                                                       /**/
     .form-control{
          width: 70%;
          display: inline-block;
     }
     .ans{
          width: 60%;
     }
     
                                                       /*corerct answer*/
     .b {
          border: 1px solid #ddd;
          background-color: white;
          color:#25556a;
     }
     .b:hover {
          border: 1px solid #ddd;
          background-color: #ddd;
     }
     .b.active, .btn-group-vertical > .b.active {
          background-color: #25556a;
          border: 1px solid #25556a;
          color:white;
     }
     
                                                       /*paging*/
     .pagination > li > a, .pagination > li > span {
          color:#25556a;
     }
     .pagination > .active > a,
     .pagination > .active > span,
     .pagination > .active > a:hover,
     .pagination > .active > span:hover,
     .pagination > .active > a:focus,
     .pagination > .active > span:focus {
          background-color: #25556a;
          border-color: #25556a;
     }
     
                                                       /*footer*/
     .navbar-bottom{
          height: 120px;
          background-color: #c4d6ed;  
     }  
     
                                                       /*popup*/
     .popup{
          background-color:rgba(0, 0, 0, 0.5);           
     }
     .pop{
          top:50%;
     }
     .modal-footer{
          text-align: center;
     }
     .modal-content{
          padding: 20px 20px 10px 20px;
          margin-top: 200px;
     }
     .modal-content>buttonbutton{
          margin-left: 20px;
     }
     .glyphicon-log-out {
          color: #e0e0e0;
          font-size: 40px;
     }
     .media-heading{
          color: #545454;
          margin-top: 5px;
     }
     .media-heading-down{
          margin-top: 20px;
          color: #545454;
     }
     .media-object{
          margin-right: 20px;
     }
     .form-control {
           display: inline-block;
           width: 220px;
       }